*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/*******************    
    ** HEADER **
********************/
#header-logo-pic{
    text-align: center;
}

#header-logo-pic img{
    box-shadow: .5px .5px .5px floralwhite;
}

/****** nav bar *****/
#main-nav ul{
    margin:5rem auto 5rem;
    display:flex;
    flex-wrap:wrap;
    list-style:none;
    justify-content: center;
    gap:1rem;
}

#main-nav li{
    padding:1rem;
}

#main-nav a{
    color:floralwhite;
    text-decoration: none;
    font-size: 1.5rem;
    text-shadow: .2rem .2rem .2rem black;
}

#main-nav a:hover{
    color:orange;
}

/********************
    **  INDEX **
*********************/
.index{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: purple;
    color:floralwhite;
}

#h1{
    text-align:center;
    text-shadow: .5rem .5rem .5rem black;
    margin-bottom:1rem;
}

.index,
.body_review_pages p{
    font-size: 1.2rem;
    margin:1rem;
}

/***********************
    ** MARK I **
************************/
figure{
    margin: 0 auto;
}
figcaption {
    text-align: center;
}

.caption-title{
    font-weight: bold;
}

figure img{
    display:block;
    margin: 0 auto;
}


/***********************************
    ** CONTENT IN ALL PAGES **
************************************/

.band_logo{
    max-width:500px;
    text-align: center;
    margin:auto;
}

.band_logo img{
    width:100%;
}

/***** top photo for each lineup - usually a group photo *****/
.group_photo{
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    text-align: center;
    border:solid 2px black;
    box-shadow: .2rem .2rem .2rem black;
}

.group_photo_figure figcaption{
   margin-top:1rem;
   margin-bottom:5rem;
}

/*****  gallery photos on the rainbow and gillan pages - each member gets a photo *****/
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    max-width:75%;
    margin: 5rem auto 5rem;
}

.gallery img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    flex-shrink: 0;
    border:black 1px solid;
    box-shadow: .5px .5px .5px floralwhite;
}


.gallery figcaption{
    text-align: center;
}

/** reviews (span) **/
.rating{
    display:block;
    color:gold;
    font-size: 1.6rem;
}


/***** album covers *****/
.album_title_header{
    text-align: center;
    font-size: 1.5rem;
    text-shadow: .2rem .2rem .2rem black;
}

.album_cover{
    width:10rem;
    float:left;
}

.album_cover{
    margin:0 1rem 0 0;
}

.review_text{
    font-size:1.5rem;
}

.infinite_hack{
    margin-bottom:5rem;
}

/*************************************************
    ** navigate through the pages at bottom **
**************************************************/

.lineup-nav{
    display:flex;
    width: 60%;
    margin:5rem auto;
    justify-content: space-around;
    padding:2rem;
    
}

.lineup-nav a{
    background-color: floralwhite;
    border:solid black 2px;
    padding:2rem;
    text-decoration: none;
    color:black;
    border-radius:4px;
}

