body{
    background-color: rgb(54, 95, 184);
    color:floralwhite;
    text-shadow: .2px .2px .2px floralwhite;
}

#h1{
    margin-bottom:3rem;
}

.album_cover{
    border:coral solid 1px;
    box-shadow: .2rem .2rem .2rem black;
}

.album_title_header{
    margin-top:3rem;
    margin-bottom:1.8rem;
}