body{
    background-color: rgb(102, 5, 102);
    color:floralwhite;
    text-shadow: .5px .5px .5px coral;
}

.album_cover{
    border:solid coral 4px;
    box-shadow: .2rem .2rem .2rem black;
    border-radius:4px;
}