body{
    background-color: rgb(182, 84, 22);
    color:rgb(235, 230, 221);
    text-shadow: .5px .5px .5px black;
}

.band_logo{
    margin-bottom:2rem;
}

.band_logo img{
    border-radius: 4px;
    box-shadow: .2rem .2rem .2rem floralwhite;
}

.album_cover{
    border:solid floralwhite 4px;
    border-radius:4px;
}

.album_title_header{
    margin-top:3rem;
    margin-bottom:2rem;
}